<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid navigation">
  
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/home">The Corner Grille</a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!-- Link -->
          
          <li class="nav-item">
            <a class="nav-link"  routerLink="cart">View Orders</a>
          </li>
          
  
        </ul>
  
        <!-- Icons -->
         
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div id="wooden-background">
    <img src="assets\images\wooden-bg.jpg" alt="" style="height: 650px; width: 100%;">
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>